@import url(https://fonts.googleapis.com/css?family=Raleway);

* {
    font-family: Roboto, serif;
    margin: 0;
    padding: 0;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

body {
    background-color: #11151c;
}

.titleWrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 5vw;
    text-align: center;
    color: #d66853;
    font-family: Roboto, serif;
}

.weightinput {
    font-size: 1.5vw;
    font-family: sans-serif;
    font-weight: 700;
    color: #d66853;
    line-height: 1.3;
    padding: 1vw;
    padding-right: 3vw;
    border: 1px solid #364156;
    border-radius: 0.75vw;
    background-color: rgba(152, 122, 66, 0);
    width: 20vw;
    outline: none;
}

.select-css {
    font-size: 1.5vw;
    font-family: sans-serif;
    font-weight: 700;
    color: #d66853;
    line-height: 1.3;
    padding: 1vw;
    box-sizing: border-box;
    margin: 0;
    background-color: rgba(152, 122, 66, 0);
    border: 1px solid #364156;
    border-radius: .75vw;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.selector-container {
    position: absolute;
    text-align: center;
    width: 20vw;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 1vw;
}

.selector-container p {
    color: white;
    position: absolute;
    left: 21.5vw;
    font-size: 1.4vw;
    top: 50%;
    transform: translateY(-50%);
    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    text-align: center;
}

input[type=number]:focus {
    transition: 0.2s ease-in-out;
    background-color: #d66853;
    color: #fff;
}

.select-css:focus {
    transition: 0.2s ease-in-out;
    background-color: #d66853;
    border: 0.3vw solid #fff;
    color: #fff;
}

.packages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 10vw;
}

.package {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 4vw;
    margin-bottom: 3vw;
    flex-basis: 10%;
    background-color: #212d40;
    color: #d66853;
    height: 6vw;
    border-radius: 1vw;
    flex-basis: 20vw;

}

.package h2 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 1.5vw;
}

@media screen and (max-width: 600px) {
    .packages {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .package {
        flex-basis: 25%;
        height: 6vw;
        width: 6vw;

    }

    .package h2 {
        font-size: 3vw;
    }

    .titleWrapper {
        padding: 4vw;
        font-size: 7vw;
    }

    .weightinput {
        font-size: 4vw;
        font-family: sans-serif;
        font-weight: 700;
        color: #d66853;
        line-height: 1.3;
        padding: .6em 1.4em .5em .8em;
        box-sizing: border-box;
        border: 1px solid #364156;
        border-radius: 0.75vw;
        background-color: #364156;
    }

    /*.select-css {*/
    /*    font-size: 4vw;*/
    /*    font-family: sans-serif;*/
    /*    font-weight: 700;*/
    /*    color: #d66853;*/
    /*    line-height: 1.3;*/
    /*    padding: .6em 1.4em .5em .8em;*/
    /*    box-sizing: border-box;*/
    /*    margin: 0;*/
    /*    background-color: #364156;*/
    /*    border: 1px solid #364156;*/
    /*    border-radius: .75vw;*/
    /*    -moz-appearance: none;*/
    /*    -webkit-appearance: none;*/
    /*    appearance: none;*/
    /*    width: 230vw;*/
    /*}*/
    input[type=number]:focus {
        -webkit-transition: width 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
        border: 3px solid #d66853;
    }
}

